<nav class="nav-menu">
  <a
    mat-icon-button
    [matMenuTriggerFor]="navMenu"
    aria-label="Button for the navigation menu"
  >
    <mat-icon [inline]="true" class="menu-icon">menu</mat-icon>
  </a>
  <mat-menu #navMenu="matMenu">
    <ng-container *ngIf="userIsLogged; else userNotLogged">
      <button mat-menu-item
        [routerLink]="['/', 'home']"
      >
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item
        [routerLink]="['/', 'dashboard']"
      >
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item
        (click)="test()"
      >
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item
        [routerLink]="['/', 'collections']"
      >
        <mat-icon>table_chart</mat-icon>
        <span>Collections</span>
      </button>
      <button mat-menu-item
      (click)="logOff()"
      >
        <mat-icon>power_settings_new</mat-icon>
        <span>Log Off</span>
      </button>
    </ng-container>
    <ng-template #userNotLogged>
      <button mat-menu-item
      (click)="openDialog('login')"
      >
        <mat-icon>assignment</mat-icon>
        <span>Log In</span>
      </button>
      <button mat-menu-item
      (click)="openDialog('register')"
      >
        <mat-icon>book</mat-icon>
        <span>Register</span>
      </button>
    </ng-template>
  </mat-menu>
</nav>
