header {
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;

  .left-side {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .right-side {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
